.narwhal{
  display: none;
}

.rhino{
  display: none;
}

.unicorn{
  display: none;
}

.unilego{
  display: none;
}

.triceratops{
  display: none;
}

.markhor{
  display: none;
}

.mouflon{
  display: none;
}

.addax{
  display: none;
}

.chameleon{
  display: none;
}

.lizard{
  display: none;
}

.dragon{
  display: none;
}
